/AopInDotNet/bin/Debug/AopInDotNet.dll
/AopInDotNet/bin/Debug/AopInDotNet.pdb
/AopInDotNet/obj/Debug/AopInDotNet.csproj.FileListAbsolute.txt
/AopInDotNet/obj/Debug/AopInDotNet.dll
/AopInDotNet/obj/Debug/AopInDotNet.pdb
/AopInDotNet/obj/Debug/AopInDotNet_MarkupCompile.i.cache
/AopInDotNet/obj/Debug/Auction/Member.g.i.cs
/AopInDotNet/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/AopInDotNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AopInDotNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AopInDotNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AopInDotNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
